.task {
    width: 60%;
    margin: auto;
    height: 70px;
    top: 5%;
}

.axe {
    height: 83px;
    width: 875px;
    margin-top: 0;
    background: url(../img/sprite.png);
    height: 83px;
    position: absolute;
    top: 30%;
}

.inputs {
    height: auto;
    margin-top: 0;
    width: 875px;
}

.example-text {
    text-align: center;
    font-size: 30px;
    margin: auto;
}

.input-number {
    width: 40px;
    position: absolute;
}

.container {
    position: absolute;
    height: 500px;
    width: 70%;
    padding: 20px 20px 20px 20px;
}

path {
    fill: none;
    stroke: red;
    stroke-width: 3;
}